<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>图书列表</title>
</head>
<body>

<h2>图书列表</h2>
<hr/>
<table border="1" cellspacing="0" cellpadding="0">
<tr>
  <td>图书编号</td>
  <td>图书名称</td>
  <td>图书作者</td>
</tr>
<tr th:each="newBook:${books}">
  <td th:text="${newBook.bookId}"></td>
  <td th:text="${newBook.bookName}"></td>
  <td th:text="${newBook.bookAuthor}"></td>
</tr>
</table>
</body>
</html>