.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testtesttest

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

dubbo-all/incubator-dubbo/
dubbo-all/incubator-dubbo-ops/
target
springboot/codes/springboot-vue-action/chapter1/target/chapter1-1.0-SNAPSHOT.jar
*.jar
springboot/codes/springboot-vue-action/chapter1/target/chapter1-1.0-SNAPSHOT.jar
*.jar
*.original
