<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itshizhan.chapter4.mapper.UserMapper">

    <insert id="insertUserSelective" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(
            user_name, user_password,
            <if test="userEmail!=null and userEmail!=''">
                user_email,
            </if>
            user_info)
            values (
            #{userName},#{userPassword},
            <if test="userEmail!=null and userEmail!=''">
                #{userEmail},
            </if>
            #{userInfo}
        );
    </insert>
    <insert id="insertUserByList" >
        insert  into sys_user(user_name,user_password, user_email, user_info, head_img, create_time) values
        <foreach collection="userList" item="user" separator=",">
            (
                #{user.userName},#{user.userPassword},#{user.userEmail},#{user.userInfo},
                #{user.headImg, jdbcType=BLOB},#{user.createTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
    <update id="updateByIdSelective" parameterType="com.itshizhan.chapter4.bean.SysUser">
        update sys_user
        set
        <if test="userName!=null and userName!=''">
            user_name = #{userName},
        </if>
        <if test="userEmail!=null and userEmail!=''">
            user_email = #{userEmail},
        </if>
        <if test="userInfo!=null and userInfo!=''">
            user_info = #{userInfo},
        </if>
        <if test="headImg!=null and headImg!=''">
            head_img = #{headImg,jdbcType=BLOB},
        </if>
        <if test="createTime!=null">
            create_time = #{createTime},
        </if>
        id = #{id}
        where id = #{id}
    </update>
    <update id="updateByMap">
        update sys_user
        set  
        <foreach collection="_parameter" item="val" index="key" separator=",">
          #{key} = #{val}
        </foreach>
        where id = #{id}
    </update>

    <select id="selectUserWithIf" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
        user_name userName,
        user_email userEmail,
        user_info userInfo,
        head_img headImg,
        create_time createTime
        from sys_user
        where 1=1
        <if test="userName!=null and userName!=''">
            <bind name="userNameLike" value="'%'+  userName +'%'"/>
            and user_name like concat('%',#{userName},'%')
        </if>
        <if test="userEmail!=null and userEmail!=''">
            and user_email = #{userEmail}
        </if>

    </select>
    <select id="selectByIdOrUserName" resultType="com.itshizhan.chapter4.bean.SysUser">
        select  id,
               user_name userName,
               user_email userEmail,
               user_info userInfo,
               head_img headImg,
               create_time createTime
        from sys_user u
        where 1 = 1
          <choose>
              <when test="id!=null">
                  and  id = #{id}
              </when>
              <when test="userName!=null and userName!=''">
                  and user_name = #{userName}
              </when>
              <otherwise>
                  and 1=2
              </otherwise>
          </choose>
    </select>
    <select id="selectByIdList" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
               user_name userName,
               user_email userEmail,
               user_info userInfo,
               head_img headImg,
               create_time createTime
        from sys_user
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")" index="i">
            #{id}
        </foreach>
    </select>
    <select id="selectByIdList1" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
        user_name userName,
        user_email userEmail,
        user_info userInfo,
        head_img headImg,
        create_time createTime
        from sys_user
        where id in
        <foreach collection="list" item="id" separator="," open="(" close=")" index="i">
            #{id}
        </foreach>
    </select>
    <select id="selectByIdList2" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
        user_name userName,
        user_email userEmail,
        user_info userInfo,
        head_img headImg,
        create_time createTime
        from sys_user
        where id in
        <foreach collection="array" item="id" separator="," open="(" close=")" index="i">
            #{id}
        </foreach>
    </select>
    <select id="selectByIdList3" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
        user_name userName,
        user_email userEmail,
        user_info userInfo,
        head_img headImg,
        create_time createTime
        from sys_user
        where id in
        <foreach collection="list2" item="id" separator="," open="(" close=")" index="i">
            #{id}
        </foreach>
    </select>

    
</mapper>
