<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itshizhan.chapter4.mapper.UserMapper">
    <update id="updateByIdSelective" parameterType="com.itshizhan.chapter4.bean.SysUser">
        update sys_user
        set
        <if test="userName!=null and userName!=''">
            user_name = #{userName},
        </if>
        <if test="userEmail!=null and userEmail!=''">
            user_email = #{userEmail},
        </if>
        <if test="userInfo!=null and userInfo!=''">
            user_info = #{userInfo},
        </if>
        <if test="headImg!=null and headImg!=''">
            head_img = #{headImg,jdbcType=BLOB},
        </if>
        <if test="createTime!=null">
            create_time = #{createTime},
        </if>
        id = #{id}
        where id = #{id};
    </update>

    <select id="selectUserWithIf" resultType="com.itshizhan.chapter4.bean.SysUser">
        select id,
               user_name userName,
               user_email userEmail,
               user_info userInfo,
               head_img headImg,
               create_time createTime
        from sys_user
        where 1=1
          <if test="userName!=null and userName!=''">
               and user_name like concat('%',#{userName},'%')
          </if>
          <if test="userEmail!=null and userEmail!=''">
              and user_email = #{userEmail}
          </if>

    </select>
</mapper>
