<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itshizhan.beans.Employee">
    <!--
    namespace: 名称空间
    id：唯一标识符
    resultType：返回类型
    -->
    <select id="selectEmployee" resultType="com.itshizhan.beans.Employee">
        select * from t_employee where id = #{id}
    </select>
</mapper>