<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itshizhan.beans.Employee">
    <!--
    namespace: 名称空间
    id：唯一标识符
    resultType：返回类型
    #{id} 查询参数
    -->
    <select id="selectEmployee" resultType="employee">
      <!--
       1: 可以通过sql 语句设置别名
       2：通过mapUnderscoreToCamelCase 可以驼峰命名
      select id,last_name lastName,gender,email from t_employee where id = #{id}
      -->

      select * from t_employee where id = #{id}

    </select>
</mapper>
