<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itshizhan.dao.StudentMapper">
    
    <resultMap id="studentResultMap" type="com.itshizhan.beans.Student">
        <id property="id" column="id"></id>
        <result property="stuName" column="stu_name"></result>
        <result property="stuSex" column="stu_sex"></result>
        <result property="stuBirthday" column="stu_birthday" jdbcType="DATE" javaType="java.sql.Date" ></result>
        <result property="age" column="age"></result>
    </resultMap>


    <select id="selectStudentById" resultType="com.itshizhan.beans.Student">
        select * from student WHERE id = #{id}
    </select>



    <!--       ***********动态sql*************** -->
    <!-- 查询学生list，like姓名 -->
    <!--
    <select id="getStudentListLikeName" parameterType="string" resultMap="studentResultMap">
        SELECT * from student st
        WHERE st.stu_name LIKE CONCAT(CONCAT('%', #{stuName}),'%')
    </select>
    -->
    <select id="getStudentListLikeName"  resultMap="studentResultMap">

        SELECT * from student st
        <if test="stuName!=null and stuName!='' ">
            <bind name="stuNameLike" value="'%' + stuName + '%'"></bind>
            WHERE st.stu_name LIKE #{stuNameLike}
        </if>

    </select>


    <!-- 查询学生list，like姓名，=性别、=生日、=班级，使用where,参数entity类型 -->
    <select id="getStudentListWhereEntity" parameterType="student" resultMap="studentResultMap">
        SELECT * from student st
        <where>
            <if test="stuName!=null and stuName!='' ">
                st.stu_name LIKE CONCAT(CONCAT('%', #{stuName}),'%')
            </if>
            <if test="stuSex!= null and stuSex!= '' ">
                AND st.stu_sex = #{stuSex}
            </if>
            <if test="stuBirthday!=null">
                AND st.stu_birthday = #{stuBirthday}
            </if>
        </where>
    </select>



    <!-- 查询学生list，like姓名，=性别 -->
    <select id="getStudentWithTrim" parameterType="student" resultMap="studentResultMap">
        SELECT * from student st
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <if test="stuName!=null and stuName!='' ">
                st.stu_name LIKE CONCAT(CONCAT('%', #{stuName}),'%')
            </if>
            <if test="stuSex!= null and stuSex!= '' ">
                AND st.stu_sex = #{stuSex}
            </if>
        </trim>
    </select>


    <select id="getStudentListWithForEach" resultMap="studentResultMap">
        SELECT * FROM student ST
        WHERE ST.age IN
        <foreach collection="list" item="ageList"  open="(" separator="," close=")">
            #{ageList}
        </foreach>
    </select>


</mapper>
